<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Envatolitics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OAuthFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A195B48D1B754A8600D2C1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A195B4961B754A8600D2C1B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B815421B728786006784D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B815591B728786006784D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1B815641B728786006784D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
